spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: create-drop
  h2:
    console:
      enabled: true
kafka:
  producerEnabled: true
  clientTopic: mail_notification
  maxPartitionBytes: 300000
  maxPollRecords: 1
  maxPollInterval: 3000
  session:
    timeout: 15000
  consumer:
    groupId: homework
  bootstrap:
    servers: localhost:9092